@import "tailwindcss";

* {
  transition-duration: 300ms;
  cursor: none;
}

body {
  color: #ebebeb;
  background-color: black;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: fixed;
  top: -10px;
  left: -10px;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: background 0s;
  z-index: 100;
}

a:hover {
  color: aquamarine;
}